{% extends "shared/_layout.html" %}
{% block main_content %}

    <div class="hero category-details"
         style="background: url(https://video-collector-demo-v1.b-cdn.net{{ "/static/img/categories/"+category.image+"?cache_id="+ build_cache_id("/static/img/categories/"+category.image) }}) no-repeat center center; background-size: cover;">
        <div class="hero-inner">
            <h1>{{ category.title }}</h1>
        </div>

    </div>

    <div class="container videos category">
        {% for row in rows %}
            <div class="row">
                <div class="col-md-1"></div>

                {% for v in row %}

                    <div class="col-md-3 video">
                        <div>
                            <a href="/videos/play/{{ v.id }}"
                            >
                                {% if v.has_thumbnail %}

                                    {{ render_partial('shared/partials/_video_image.html', video=v, build_cache_id=build_cache_id) }}
                                {% else %}
                                    <img src="https://img.youtube.com/vi/{{ v.id }}/maxresdefault.jpg"
                                         class="img img-responsive {{ ' '.join(classes) }}"
                                         alt="{{ v.title }}"
                                         title="{{ v.title }}">
                                {% endif %}

                            </a>
                            <a href="/videos/play/{{ v.id }}" class="author">{{ v.author }}</a>
                            <div class="views">{{ "{:,}".format(v.views) }} views</div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        {% endfor %}
    </div>

    <div class="container add-video category">
        <div class="row click-to-add">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                {{ render_partial('videos/partials/show_add_form.html',
                                    cat_name=category.id) }}

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>


{% endblock %}

{% block title %}{{ category.category }} Videos @ Video Collector{% endblock %}