{% extends "shared/_layout.html" %}
{% block main_content %}

    <div class="hero">
        <div class="hero-inner">
            <h1>Video Collector</h1>
            <h2>Your favorite videos - old school <span class="yahoo">Yahoo!</span> style</h2>
        </div>

    </div>

    {# For later :)#}
    {#{{ "?cache_id="+ build_cache_id("/static/img/categories/"+c.image)#}
    <div class="container categories">


        {% for row in rows %}


            <div class="row">
                <div class="col-md-1"></div>
                {% for c in row %}
                    <div class="col-md-3 category">
                        <a href="/videos/category/{{ c.id }}"
                        ><img src="/static/img/categories/{{ c.image }} }}"
                              class="img img-responsive" alt="Video category {{ c.title }}"></a>
                        <div><span class="title">{{ c.title }}</span> ({{ len(c.videos) }})</div>
                    </div>
                {% endfor %}
            </div>


        {% endfor %}


    </div>

{% endblock %}